@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html, body {
    margin: 0; 
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 24px;

    background-color: #191d32;
    color: #ffffff;
}

#main-container {
    display: flex;
    position: absolute;
    
    width: 99%;

    top: 50%;
    transform: translateY(-50%);

    flex-wrap: wrap;
    justify-content: center;
}

#grade-counter {
    font-size: 500%;
}

#counter-container {
    width: 50%;
    text-align: center;
}

#subject-list {
    background-color: #282f44;
    font-size: 16px;

    width: 45%;
    height: 300px;

    padding: 1%;

    border-radius: 15px;
    overflow-y: scroll;
}

.subject-entry {
    background-color: #1e2530;

    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subject-entry-amount {
    float: right;
}

#footer-text {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
    
    font-size: 10px;
    color: #434d70;

    margin-left: 10px;
    margin-bottom: 10px;
}

#footer-text a {
    color: #434d70;
    text-decoration: none;
}

@media screen and (max-width: 880px) {
    #counter-container {
        width: 100%;
    }

    #subject-list {
        width: 95%;
    }
}