@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-size: 24px;

    background-color: #191d32;
    color: #ffffff;

    margin: 0;
}

#main-container {
    display: flex;
    position: absolute;
    
    width: 100%;

    top: 50%;
    transform: translateY(-50%);

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#counter-container {
    width: 50%;
    height: fit-content;
    
    text-align: center;
}

#grade-counter {
    font-size: 500%;
}

#grade-percentage {
    font-size: 50%;
    margin: 0;
}

#subject-list {
    background-color: #282f44;
    font-size: 16px;

    width: 45%;
    height: 20em;

    padding: 0px 10px 0px 10px;

    border-radius: 15px;
    overflow-y: scroll;
}

.subject-entry {
    background-color: #1e2530;

    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;

    height: fit-content;
}

.subject-entry-amount {
    float: right;
}

#footer-text {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
    
    font-size: 10px;
    color: #434d70;

    margin-left: 10px;
    margin-bottom: 10px;
}

#footer-text a {
    color: #434d70;
    text-decoration: none;
}

@media screen and (max-width: 880px) {
    #counter-container {
        width: 100%;
    }

    #subject-list {
        width: 90%;
    }
}